@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,400&family=Montserrat:wght@200;300;400;500;600;700&family=Pinyon+Script&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Montserrat", sans-serif;
  --font-script: "Pinyon Script", cursive;
  
  --color-brand-brown: #5a3c3c;
  --color-brand-green: #81b896;
  --color-brand-pink: #f2a8a4;
  --color-brand-bg: #fdfcf8;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-bg);
  color: var(--color-brand-brown);
  scroll-behavior: smooth;
}

.font-script {
  text-transform: none !important;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-brand-green);
  border-radius: 10px;
}

